extends layout

block content
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title URL Shorten Stats
				h2.subtitle Click counts.
	.container
		table.table.is-bordered.is-striped
			tbody
			each val,ind in stats.list
				tr
					th Index
					td= ind
					th Long URL
					td
						a(href= val.target title= val.target)= val.truncated
					th Short URL
						td
							a(href= val.shortUrl)= val.shortUrl
					th ID
					td= val.id
					th Click Count
					td= val.count
					th Created At
					td= val.createdAt
